html, body,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.6%;
}

:root {
    --black: #000;
    --light-blue: #2998ff;
    --dark-blue: #135cc5;
    --light-red: #f87171;
    --dark-red: #dc2626;
    --gray: #252c30;

    /* Intentions */
    --primary: var(--light-blue);
    --secondary: var(--dark-blue);

    /* Typography */
    --h1: 7.594rem;
    --h2: 5.063rem;
    --h3: 3.375rem;
    --h4: 2.25rem;
    --h5: 1.5rem;
}

.warm{
    --primary: var(--light-red);
    --secondary: var(--dark-red);
}

.cold{
    --primary: var(--light-blue);
    --secondary: var(--dark-blue);    
}

h1{
    font-size: var(--h1);
}

h2{
    font-size: var(--h2);
}

h3{
    font-size: var(--h3);
}

h4{
    font-size: var(--h4);
}

h5{
    font-size: var(--h5);
}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: 1rem auto;
  font-size: 2rem;
  border: none;
  border-radius: 10rem;
  transition: all 0.2s;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}

.main{
    background-color: var(--secondary);
} 

.inner {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    width: 30%;
    background-color: lightblue;
    margin: 20px;
    border: 3px solid black;
    border-radius: 1.5rem;
}

.box {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    height: 90vh;
}

.foodimg {
    width: 35rem;
    height: 35rem;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
}